
<ion-content>


  <ion-slides pager="true">

    <ion-slide class="slide_img">
      <img src="assets/images/slide-1.png">
    </ion-slide>

    <ion-slide class="slide_img">
        <img src="assets/images/slide-2.png">
    </ion-slide>

    <ion-slide class="slide_img">
        <img src="assets/images/slide-3.png">
    </ion-slide>


    <ion-slide class="slide_img">
        <img src="assets/images/slide-4.png">
        <a href="../tabs/tabs.page.html">Continuar</a>
    </ion-slide>



  </ion-slides>

</ion-content>